:root {
  background-color: grey;
  margin-top: 10vh;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  min-width: 320px;
  max-height: 100vh;
  margin: auto;
  background-color: #fff;
  text-align: center;
}
.register::before,
.register::after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 2px;
  background-color: rgb(201, 201, 201);
  margin: 8px;
}
h1{
  text-transform: capitalize;
  font-size: 30px;
  margin: 10px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info{
  margin: 10px;
  padding: 5px;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}
.names {
  width: 47%;
  height: 30px;
  padding: 10px;
}
label {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.inp {
  height: 30px;
  padding: 10px;
}
.other {
  text-align: left;
}
.first-link{
  text-decoration: none;
}
.check {
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  display: inline;
}
.button {
  width: 92%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  background-color: rgb(14, 185, 14);
  color: white;
  text-transform: capitalize;
  font-size: 18px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 10px;
}
.link{
  color:white;
}
